<div>
    <h1>Ingresa tu nueva contraseña</h1>
    <form method="put" id="restarPasswordForm" action="/api/sessions/pass-change/{{token}}" data-user="{{token}}">
        <label>Nueva Contraseña</label>
        <input name="new-password" type="password" placeholder="Ingrese su nueva password">
        <input type="submit"> 
    </form>
    <a href="http://localhost:8080/login">Volver al menú principal</a>
</div>


<script src="/js/restarPassword.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>