<div class="reset-password-container">
    <h1>Enter your new password</h1>
    <form method="put" id="resetPasswordForm" action="/api/sessions/pass-change/{{token}}" data-user="{{token}}" class="reset-password-form">
        <label class="reset-password-label">New password</label>
        <input name="new-password" type="password" class="reset-password-input" placeholder="New password">
        <button type="submit" class="reset-password-submit-button">Submit</button>
    </form>
    <a href="http://localhost:8080/login" class="reset-password-link">Return</a>
</div>

<style>
.reset-password-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 2rem;
}

.reset-password-container h1 {
  font-size: 33px;
  margin: 0 0 20px;
}

.reset-password-form {
  text-align: left;
}

.reset-password-label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.reset-password-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-submit-button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px; 
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 0.5rem;
}

.reset-password-submit-button:hover {
  background-color: #0056b3; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.reset-password-link {
  color: #007bff;
  margin: 10px 0;
  text-decoration: none;
}

.reset-password-link a {
  color: #007bff;
  text-decoration: none;
}

.reset-password-link a:hover {
  text-decoration: underline;
}
</style>

<script src="/js/restarPassword.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>